body{
background-image: url(http://cdn.edgecast.steamstatic.com/steamcommunity/public/images/items/264710/6b5ff4fdc4c3bc2bc325263fe6f7645e6c2522c6.jpg);
background-repeat: no-repeat;
background-size:halfs;
font-family: fantasy;



}
